<h1 class = "dialog-title" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class = "dialog-input">
    <input matInput [errorStateMatcher]="matcher" [formControl] = "nameControl" type = "text" placeholder="Name" [(ngModel)]="data.aSport.name" (focus) = "removeError(nameControl, 'nameInput')">
    <mat-error *ngIf="nameControl.hasError('nameInput')">{{sportError.Name.toString()}}</mat-error>
    <mat-error *ngIf="nameControl.hasError('errorMessageInput')">{{sportError.errorMessage}}</mat-error>
    <mat-error *ngIf="nameControl.hasError('required') && !nameControl.hasError('nameInput')">This field is required</mat-error>
  </mat-form-field>
  <mat-checkbox class = "dialog-input" [(ngModel)]="data.aSport.isTwoTeams">Is two teams sport</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled] = "!allValid()" (click) = "onSaveClick()" cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
