<h1 class = "dialog-title" mat-dialog-title>Follow a team</h1>
<div mat-dialog-content>
  <mat-form-field class = "dialog-input">
    <mat-select 
      [errorStateMatcher]="matcher" 
      [formControl] = "sportNameControl" 
      placeholder="Sport name" 
      (selectionChange) = "sportSelected()">
      <mat-option *ngFor = "let sport of sports" [value] = sport.name>{{sport.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="sportNameControl.hasError('required')">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class = "dialog-input">
    <mat-select [errorStateMatcher]="matcher" [formControl] = "teamIdControl" placeholder="Teams in encounter" (focus) = "removeAllErrors()">
        <mat-option *ngFor = "let team of teams" [value] = team.id>{{team.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="teamIdControl.hasError('teamNotFound') || teamIdControl.hasError('alreadyFollower')">{{genericError.errorMessage}}</mat-error>
    <mat-error *ngIf="teamIdControl.hasError('required') && !teamIdControl.hasError('teamNotFound') && !teamIdControl.hasError('alreadyFollower')">This field is required</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled] = "!allValid()" (click) = "onSaveClick()" cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
