table {
    width: 100%;
}

.mat-form-field {
    font-size: 12px;
    width: 100%;
}

th {
    width: 25%;
    text-align: left;
    color: rgb(20, 140, 60);
}

td{
    width:25%;
    text-align: left;
    font-size: 12px;
}

  
.table-container{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}