<div class = "table-container">
    <button mat-raised-button class = "add-user-button-raised" color = "primary" (click)="openAddDialog()">
      <mat-icon aria-label="Add user">add</mat-icon>
      Add user
    </button>
    <div class = "error-message">
      {{errorMessage}}
    </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Username </th>
        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Surname </th>
        <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="isAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Admin </th>
          <td mat-cell *matCellDef="let row"> {{row.isAdmin}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"></th>
        <td mat-cell *matCellDef="let row"> 
          <div class = "option-button-container">
            <button mat-icon-button class = "option-button" (click)="openEditDialog(row)">
                <mat-icon aria-label="Edit user" >edit</mat-icon>
            </button>
            <button mat-icon-button class = "option-button" (click)="openDeleteDialog(row)">
                <mat-icon aria-label="Delete user" style="color:darkred" >delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div> 
</div>
<button mat-fab class = "add-user-button-fab" color = "primary" (click)="openAddDialog()">
    <mat-icon aria-label="Add user">add</mat-icon>
</button>
