<h1 class = "dialog-title" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class = "dialog-input">
    <mat-select 
      [errorStateMatcher]="matcher" 
      [formControl] = "sportNameControl" 
      placeholder="Sport name" 
      (focus) = "removeError(sportNameControl, 'sportNotFound')" 
      (selectionChange) = "sportSelected()">
      <mat-option *ngFor = "let sport of sports" [value] = sport.name>{{sport.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="sportNameControl.hasError('sportNotFound')">{{genericError.errorMessage}}</mat-error>
    <mat-error *ngIf="sportNameControl.hasError('required') && !sportNameControl.hasError('sportNotFound')">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class = "dialog-input">
    <mat-select [errorStateMatcher]="matcher" [formControl] = "teamsIdsControl" placeholder="Teams in encounter" (focus) = "removeError(teamsIdsControl, 'teamsInput')" multiple>
        <mat-option *ngFor = "let team of teams" [value] = team.id>{{team.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="teamsIdsControl.hasError('teamsInput') || teamsIdsControl.hasError('wrongTeams')">{{genericError.errorMessage}}</mat-error>
    <mat-error *ngIf="teamsIdsControl.hasError('required') && !teamsIdsControl.hasError('teamsInput') && !teamsIdsControl.hasError('wrongTeams')">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class = "dialog-input">
      <input matInput [errorStateMatcher]="matcher" [formControl] = "dateControl" [matDatepicker] = "datePicker" placeholder="Date" (focus) = "removeError(dateControl, 'dateInput')">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error *ngIf="dateControl.hasError('teamAlreadyHasMatch')">{{genericError.errorMessage}}</mat-error>
      <mat-error *ngIf="dateControl.hasError('required') && !dateControl.hasError('teamAlreadyHasMatch')">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class = "dialog-input">
      <mat-select 
        [errorStateMatcher]="matcher" 
        [formControl] = "methodControl" 
        placeholder= "Select input method" 
        (focus) = "removeError(methodControl, 'errorMessageInput')"
        (selectionChange) = "enableTeamSelect($event.value)">
        <mat-option *ngFor = "let algorithm of fixturesNames" [value] = "algorithm">{{cleanFixtureName(algorithm)}}</mat-option>
        <mat-option value = "single">Single match</mat-option>
      </mat-select>
      <mat-error *ngIf="methodControl.hasError('fixtureNotFound')">{{genericError.errorMessage}}</mat-error>
      <mat-error *ngIf="methodControl.hasError('required') && !methodControl.hasError('fixtureNotFound')">This field is required</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled] = "!allValid()" (click) = "onSaveClick()" cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
