<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{encounter.teamIds[0]}} vs {{encounter.teamIds[1]}}</mat-card-title>
    <mat-card-subtitle>Encounter id: {{encounter.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="">
  <img mat-card-image src="">
  <mat-card-content>
    <p>
      Date: {{encounter.date}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Edit</button>
    <button mat-button>Delete</button>
  </mat-card-actions>
</mat-card>