.card-deck-container{
    width: 100%;
    height: 100%;
    display: block;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align:center;
    align-items: center;
    flex-direction: row;
}

.neededForNgFor{
    display: flex;
    margin: 0px auto 0px auto;
    width:min-content;
}