<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar class="main-toolbar">
    <button type="button" mat-button (click)="drawer.toggle()">
        <i class="material-icons">
            menu
        </i>
    </button>
    <span>Sportlendar</span>
</mat-toolbar>
<mat-drawer-container class="frontpage-container" autosize>
  <mat-drawer #drawer class="frontpage-sidenav" mode="side">
    <div class="title-sidenav">Menu</div>
    <button type="button" class="button-sidenav" mat-button>
      Sports
    </button>
    <button type="button" class="button-sidenav" mat-button>
      Teams
    </button>
    <button type="button" class="button-sidenav" mat-button>
      Encounters
    </button>
    <button type="button" class="button-sidenav" mat-button>
      Calendar
    </button>
    <button type="button" class="button-sidenav" mat-button>
      Login
    </button>
  </mat-drawer>

  <div class="frontpage-sidenav-content">

  </div>

</mat-drawer-container>
