<h1 class = "dialog-title" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class = "dialog-input">
    <input matInput [errorStateMatcher]="matcher" [formControl] = "nameControl" type = "text" placeholder="Name" [(ngModel)]="data.aTeam.name" (focus) = "removeError(nameControl, 'errorMessage')">
    <mat-error *ngIf="nameControl.hasError('errorMessageNameInput')">{{teamError.errorMessage}}</mat-error>
    <mat-error *ngIf="nameControl.hasError('nameInput')">{{teamError.Name.toString()}}</mat-error>
    <mat-error *ngIf="nameControl.hasError('required') && !nameControl.hasError('nameInput')">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class = "dialog-input">
    <input matInput [errorStateMatcher]="matcher" [formControl] = "sportNameControl" type = "text" placeholder="Sport name" [(ngModel)]="data.aTeam.sportName" (focus) = "removeError(sportNameControl, 'sportNameInput')">
    <mat-error *ngIf="sportNameControl.hasError('errorMessageSportNameInput')">{{teamError.errorMessage}}</mat-error>
    <mat-error *ngIf="sportNameControl.hasError('sportNameInput')">{{teamError.SportName.toString()}}</mat-error>
    <mat-error *ngIf="sportNameControl.hasError('required') && !sportNameControl.hasError('sportNameInput')">This field is required</mat-error>
  </mat-form-field>
  <div class = "dialog-input">
    <img onError="this.src='assets/imgs/no_img.png';" style='display:block; margin:10px auto 0px auto; width:70px;height:70px;' src='data:image/jpeg;base64,{{data.aTeam.photo}}' alt="">
    <input id="file" class = "upload" [formControl] = "photoControl" type = "file" placeholder="Photo" (focus) = "removeError(photoControl, 'photoInput')" accept="image/*" (change)="handleFileSelect($event)">
    <label for="file">Choose an image</label>
    <mat-error *ngIf="photoControl.hasError('photoInput')">{{teamError.Photo.toString()}}</mat-error>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled] = "!allValid()" (click) = "onSaveClick()" cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
