<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar class="main-toolbar">
    <button type="button" mat-icon-button (click)="sidenav.toggle()">
        <i class="material-icons" style="vertical-align: middle">
            menu
        </i>
    </button>
    <span class = "title-toolbar">{{title}}</span>
    <span class = "logged-user">
      
      <button type="button" routerLink="login" (click)="sidenav.close()" mat-button>
          <i class="material-icons" style="vertical-align: middle; padding-bottom: 3px;">
              account_circle
          </i>  
        {{getLogged()}}
      </button>
    </span>
</mat-toolbar>
<mat-sidenav-container class="frontpage-container" (backdropClick) = "close()">
  <mat-sidenav-content class="frontpage-sidenav-content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #sidenav class="frontpage-sidenav" (keydown.escape) = "close()" disableClose>
    <div class="title-sidenav">Menu</div>
    <button type="button" routerLink="users" class="button-sidenav" (click)="sidenav.toggle()" mat-flat-button>
      Users
    </button>
    <button type="button" routerLink="not-found" class="button-sidenav" (click)="sidenav.toggle()" mat-flat-button>
      Sports
    </button>
    <button type="button" routerLink="not-found" class="button-sidenav" (click)="sidenav.toggle()" mat-flat-button>
      Teams
    </button>
    <button type="button" routerLink="not-found" class="button-sidenav" (click)="sidenav.toggle()" mat-flat-button>
      Encounters
    </button>
    <button type="button" routerLink="not-found" class="button-sidenav" (click)="sidenav.toggle()" mat-flat-button>
      Calendar
    </button>
    
  </mat-sidenav>

  
</mat-sidenav-container>
