.main-toolbar{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left:0;
    z-index: 100;
    border-bottom: 2px solid rgb(20, 140, 60);
    background-color: rgb(39, 39, 39);
    color:rgb(240, 240, 240);
}

.frontpage-container {
    height: 100%;
    width: 100%;
    position: fixed;
    display:block;
    padding-top:50px;
    padding-bottom: 10px;
    left: 0;
    background-color:transparent
}

.frontpage-sidenav-content {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
    background-color:transparent
}

.frontpage-sidenav {
    padding: 10px;
    padding-top:50px;
    height: 100%;
    width: 180px;
    z-index: 99;
    display: block;
}

.button-sidenav{
    width: 100%;
    display: block;
    clear: both;
    margin: 10px 0px 10px 0px;
}

.title-sidenav{
    text-align: center;
    font-size: 20px;
    padding:12px;
    color: rgb(20, 140, 60);
}

.title-toolbar{
    margin-left:10px;
    margin-right: 10px;
}

.logged-user{
    color: rgb(240, 240, 240);
    font-size: 16px;
    margin-left:auto;
    vertical-align: middle;
    text-align: top;
}


.container{
    overflow: auto;
    height: 100%;
    display: block;
    position: absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-image: url("../../../assets/imgs/background.png");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */}