table {
    width: 100%;
    min-width: 700px;
    table-layout: fixed
}

.mat-form-field {
    font-size: 12px;
    width: 100%;
}

.table-header{
    color: rgb(20, 140, 60);
}

.table-header-50px{
    color: rgb(20, 140, 60);
    width:50px;
    z-index: 0;
}
.table-header-80px{
    color: rgb(20, 140, 60);
    width:80px;
    z-index: 0;

}

td.mat-cell{
    text-align: left;
    font-size: 12px;

    overflow: hidden;
}


.cell{
    width: 25%;
}

.cell-isadmin{
    width:50px;
}
  
.table-container{
    width: 80%;
    height: 90%;
    padding: 20px 20px 0px 20px;
    overflow-x: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.paginaitor-container{
    width: 100%;
}

.add-button-fab{
    margin: 10px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: block;
    z-index: 100;
}

.add-button-raised{
    margin: 10px;
    display: none
}

.option-button{
    display: inline-block;
    width:40px;
}

.option-button-container{
    width: 80px;
}

@media only screen and (min-width: 768px) {
    .add-button-raised{
        display: inline-block;
    }

    .add-button-fab{
        display: none;
    }
    
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
