<div class = "table-container">
    <button mat-raised-button class = "add-button-raised" color = "primary" (click)="openAddDialog()">
      <mat-icon aria-label="Add">add</mat-icon>
      Add team
    </button>
    <div class = "error-message">
      {{errorMessage}}
    </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="mat-elevation-z8" style="max-height: 90%">
      <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>

      <div style="width:100%; max-height: 50vh; overflow-x:auto; overflow-y:auto">      
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Id </th>
            <td mat-cell class = "cell" *matCellDef="let row"><p>{{row.id}}</p> </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Name </th>
            <td mat-cell class = "cell" *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="sportName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Sport </th>
            <td mat-cell class = "cell" *matCellDef="let row"> {{row.sportName}} </td>
          </ng-container>

          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class ="table-header"> Photo </th>
            <td mat-cell class = "cell" *matCellDef="let row"><img [src]="domSanitizer.bypassSecurityTrustUrl(row.photo)" alt=""></td>
          </ng-container>

          <ng-container matColumnDef="options" sticky stickyEnd>
            <th mat-header-cell *matHeaderCellDef class ="table-header-80px"></th>
            <td mat-cell  *matCellDef="let row"> 
              <div class = "option-button-container">
                <button mat-icon-button class = "option-button" (click)="openEditDialog(row)">
                    <mat-icon aria-label="Edit" >edit</mat-icon>
                </button>
                <button mat-icon-button class = "option-button" (click)="openDeleteDialog(row)">
                  <mat-icon aria-label="Delete" style="color:darkred" >delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; ">
          </tr>
        </table>
      </div>
    <div class = "paginator-container">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div> 
</div>
<button mat-fab class = "add-button-fab" color = "primary" (click)="openAddDialog()">
    <mat-icon aria-label="Add">add</mat-icon>
</button>