<mat-card matBadgeColor="primary" matBadgeOverlap="true" [matBadge]="encounterCount" matBadgeSize="medium"  *ngIf = "event && event.date.getFullYear() == date.getFullYear() && event.date.getMonth() == date.getMonth()" class="example-card">
    <h3 style="width:100%; text-align:center">{{event.date.getDate()}}/{{event.date.getMonth()+1}}/{{event.date.getFullYear()}}</h3>
    <mat-card-content [style.overflow]="'auto'">
      <div class="wrapper">
        <div *ngFor = "let encounter of event.encounters">
          Encounter between:
         <div *ngFor = "let team of encounter.teams">
           {{team.name}} 
         </div>
       </div>
      </div>  
    </mat-card-content>
</mat-card>
