<div class = "table-container">  
  <div class = "error-message">
    {{errorMessage}}
  </div>
  <mat-expansion-panel  class="mat-elevation-z8" style="margin: 10px auto 10px auto; width: 90%">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Followed teams encounters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-select (selectionChange)="showEncounters($event.value)" placeholder="Select a team">
        <mat-option [value] = "0">--</mat-option>
        <mat-option *ngFor = "let team of teamsFollowed" [value] = "team.id">{{team.name + ' (' + team.sportName + ')'}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select (selectionChange)="showEncounter($event.value)" placeholder="Select an encounter">
        <mat-option [value] = "0">--</mat-option>
        <mat-option *ngFor = "let encounter of encountersOfSelectedTeam" [value] = "encounter.id">{{cleanDate(encounter) + " " + teamsOf(encounter)}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <mat-card *ngIf = "encounterShown" class="mat-elevation-z8" style="margin: 10px auto 10px auto; width: 80%">
    <mat-card-header style="flex-direction: column; color: rgb(20, 140, 60)">
      <mat-card-title>
        {{teamsOf(encounterShown)}}
      </mat-card-title>
      <mat-card-subtitle>
        {{cleanDate(encounterShown)}}
      </mat-card-subtitle>
    </mat-card-header>
    <img class = "square" *ngFor = "let teamId of encounterShown.teamIds" onError="this.src='assets/imgs/no_img.png';" src='data:image/jpeg;base64,{{photoOf(teamId)}}' alt="Team image">
    <mat-card-content>
      <div>
        {{resultOf(encounterShown)}}
      </div>
      <comments-table [encounter] = "encounterShown"></comments-table>
    </mat-card-content>
  </mat-card>
</div>
